<h1>Dodaj użytkownika</h1>
<form #form="ngForm" (ngSubmit)="addUser(form)">
    <div class="form-group">                
        <label for="name">Imię: </label>
        <input type="text" name="name" id="name" required
        minlength="3" appLettersOnly appFirstLetterBig [(ngModel)]="name">
        @if (form.controls['name'] && form.controls['name'].touched) {
            @if (form.controls['name'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['name'].errors?.['appLettersOnly']) {
                Tylko znaki
            }
            @if (form.controls['name'].errors?.['appFirstLetterBig']) {
                Pierwsza litera duża
            }
            @if (form.controls['name'].errors?.['minlength']) {
                Minimum 3 znaki
            }
        }
    </div>
    <div class="form-group">                
        <label for="surname">Nazwisko: </label>
        <input type="text" name="surname" id="surname" required
        minlength="3" appLettersOnly appFirstLetterBig [(ngModel)]="surname">
        @if (form.controls['surname'] && form.controls['surname'].touched) {
            @if (form.controls['surname'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['surname'].errors?.['appLettersOnly']) {
                Tylko znaki
            }
            @if (form.controls['surname'].errors?.['appFirstLetterBig']) {
                Pierwsza litera duża
            }
            @if (form.controls['surname'].errors?.['minlength']) {
                Minimum 3 znaki
            }
        }
    </div>
    <div class="form-group">
        <label for="phoneNumber">Numer telefonu: </label>
        <input type="text" name="phoneNumber" id="phoneNumber" required
        appNineDigits [(ngModel)]="phoneNumber">
        @if (form.controls['phoneNumber'] && form.controls['phoneNumber'].touched) {
            @if (form.controls['phoneNumber'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['phoneNumber'].errors?.['appNineDigits']) {
                9 cyfr
            }
        }
    </div>
    <div class="form-group">                
        <label for="yearOfBirth">Rok urodzenia: </label>
        <input type="text" name="yearOfBirth" id="yearOfBirth" required
        appYearBetween [(ngModel)]="yearOfBirth">
        @if (form.controls['yearOfBirth'] && form.controls['yearOfBirth'].touched) {
            @if (form.controls['yearOfBirth'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['yearOfBirth'].errors?.['appYearBetween']) {
                Wiek nie większy niż 100
            }
        }
    </div>
    <div class="form-group">
        <label for="street">Ulica: </label>
        <input type="text" name="street" id="street" required
        minlength="3" [(ngModel)]="street">
        @if (form.controls['street'] && form.controls['street'].touched) {
            @if (form.controls['street'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['street'].errors?.['minlength']) {
                Co najmniej 3 znaki
            }
        }
    </div>
    <div class="form-group">
        <label for="houseNumber">Numer domu: </label>
        <input type="text" name="houseNumber" id="houseNumber" required
        maxlength="5" [(ngModel)]="houseNumber">
        @if (form.controls['houseNumber'] && form.controls['houseNumber'].touched) {
            @if (form.controls['houseNumber'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['houseNumber'].errors?.['maxlength']) {
                Max 5 znaków
            }
        }
    </div>
    <div class="form-group">
        <label for="apartmentNumber">Numer mieszkania: </label>
        <input type="text" name="apartmentNumber" id="apartmentNumber"
        maxlength="5" [(ngModel)]="apartmentNumber">
        @if (form.controls['apartmentNumber'] && form.controls['apartmentNumber'].touched) {
            @if (form.controls['apartmentNumber'].errors?.['maxlength']) {
                Max 5 znaków
            }
        }
    </div>
    <div class="form-group">                
        <label for="postalCode">Kod pocztowy: </label>
        <input type="text" name="postalCode" id="postalCode" required
        appPostalCodeValidator [(ngModel)]="postalCode">
        @if (form.controls['postalCode'] && form.controls['postalCode'].touched) {
            @if (form.controls['postalCode'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['postalCode'].errors?.['appPostalCodeValidator']) {
                Niepoprawny kod pocztowy
            }
        }
    </div>
    <div class="form-group">                
        <label for="city">Miejscowość: </label>
        <input type="text" name="city" id="city" required
        minlength="3" [(ngModel)]="city">
        @if (form.controls['city'] && form.controls['city'].touched) {
            @if (form.controls['city'].errors?.['required']) {
                Pole jest wymagane
            }
            @if (form.controls['city'].errors?.['minlength']) {
                Co najmniej 3 znaki
            }
        }
    </div>
    <button type="submit" [disabled]="form.invalid">Dodaj</button>
</form>