.navbar {
  background-color: #e0e0e0;
  padding: 16px 24px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-info {
  font-size: 16px;
  
  strong {
    color: #333;
  }
  
  span {
    color: #666;
    font-style: italic;
  }
}
