<div class="container">
	<h1>Mini blog</h1>

	<app-post-form-component
		[editing]="editing"
		(save)="onSave($event)"
		(cancel)="onCancel()"
	></app-post-form-component>

	<section class="posts">
		<h3>Lista postów</h3>
		@if (posts().length === 0) {
			<div>Brak postów.</div>
		}
		@for (post of visiblePosts(); track post.id) {
            <div class="post">
                <h4>{{ post.title | uppercase }}</h4>
                <div class="meta">Dodano: {{ post.createdAt | date:'d MMMM yyyy, HH:mm' }}</div>
                <div class="meta">Ostatnia modyfikacja: {{ post.modifiedAt | date:'d MMMM yyyy, HH:mm' }}</div>
                <p>{{ post.content }}</p>
                <div class="actions">
                    <button (click)="onEdit(post)">Edytuj</button>
                    <button (click)="onDelete(post.id)">Usuń</button>
                </div>
            </div>
		}

		<div class="pagination-controls">
			<label for="pageSize">Postów na stronę:</label>
			<select id="pageSize" (change)="setPageSize($any($event.target).value)" [value]="pageSize()">
				@for (s of pageSizeOptions; track $index) {
					<option [value]="s">{{ s }}</option>
				}
			</select>

			<button (click)="prevPage()" [disabled]="currentPage() <= 1">Poprzednia</button>
			<span>Strona {{ currentPage() }} / {{ totalPages() }}</span>
			<button (click)="nextPage()" [disabled]="currentPage() >= totalPages()">Następna</button>
		</div>
	</section>
</div>