<h1>Lista użytkowników</h1>
<div>
    <div *ngFor="let user of users; let i = index" class="user-content">
        <p>{{ user.name }} {{ user.surname }} (Numer telefonu: {{ user.phoneNumber }})</p>
        <p *ngIf="user.yearOfBirth">Rok urodzenia: {{ user.yearOfBirth }}</p>
        <p>{{ user.address.street }} {{ user.address.houseNumber }} {{ user.address.apartmentNumber }},
            {{ user.address.postalCode }} {{ user.address.city }}</p>
        <button type="button" (click)="deleteUser(user.id)">Usuń</button>
    </div>
</div>