<div class="user-details-container">
    <div class="header-section">
        <button class="btn-back" (click)="goBack()">
            <span class="arrow">←</span> Powrót
        </button>
    </div>

    <div class="user-card">
        <div class="user-avatar">
            @if (user?.profilePhoto) {
                <img src="{{user?.profilePhoto}}" alt="profile-photo" class="profile-photo">
            } @else {
                @if (userInitials) {
                    <app-user-initials
                    [userInitials]="userInitials"
                    ></app-user-initials>
                }
            }
        </div>
        <div class="user-info">
            <div class="info-grid">
                <div class="info-item">
                    <span class="label">ID</span>
                    <p class="value">{{ user?.id }}</p>
                </div>
                <div class="info-item">
                    <span class="label">Username</span>
                    <p class="value">{{ user?.username }}</p>
                </div>
                <div class="info-item">
                    <span class="label">Email</span>
                    <p class="value">{{ user?.email }}</p>
                </div>
                <div class="info-item">
                    <span class="label">First Name</span>
                    <p class="value">{{ user?.firstName }}</p>
                </div>
                <div class="info-item">
                    <span class="label">Last Name</span>
                    <p class="value">{{ user?.lastName }}</p>
                </div>
                <div class="info-item">
                    <span class="label">Phone Number</span>
                    <p class="value">{{ user?.phoneNumber }}</p>
                </div>
            </div>
            <div class="info-item full-width">
                <span class="label">Profile Description</span>
                <p class="value">{{ user?.profileDescription }}</p>
            </div>
            <div class="info-dates">
                <div class="info-item">
                    <span class="label">Created at</span>
                    <p class="value">{{ user?.createdAt?.toLocaleString() }}</p>
                </div>
                <div class="info-item">
                    <span class="label">Updated at</span>
                    <p class="value">{{ user?.updatedAt?.toLocaleString() }}</p>
                </div>
            </div>
        </div>
        @if (user) {
            <div class="actions">
                <button type="button" class="btn btn-edit" (click)="$event.stopPropagation(); goToUserForm(user)">Edit</button>
                <button type="button" class="btn btn-delete" (click)="$event.stopPropagation(); deleteUser(user.id)">Delete</button>
            </div>
        }
    </div>

    <router-outlet></router-outlet>

    <div class="navigation-buttons">
        <button 
            class="btn-nav" 
            (click)="previousUser()" 
            [disabled]="isFirstUser()">
            <span class="arrow">←</span> Previous
        </button>
        <button 
            class="btn-nav" 
            (click)="nextUser()" 
            [disabled]="isLastUser()">
            Next <span class="arrow">→</span>
        </button>
    </div>
</div>