div.footer-separator {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 14px;
    background-color: #f1f1f1;
}

div.footer-separator p {
    margin: 0;
}