@use 'colors' as *;

.user-initials-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
  flex-shrink: 0;
}